// ==========================================================================
// Object / Utility / Margin
// 規約7: 縦積みはmargin-top、横並びはmargin-rightを使う
// 規約6: marginの単位はrem
// ==========================================================================
@use "../../foundation" as foundation;

$margin-space-list: 4, 8, 16, 24, 32, 40, 48, 64;

@each $space in $margin-space-list {
  .u-mt-#{$space} {
    margin-top: foundation.to-rem($space) !important;
  }
  .u-mr-#{$space} {
    margin-right: foundation.to-rem($space) !important;
  }
}